<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Barber Shop</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Wilcome to Barber Shop!</h1>

    <p>We are open!</p>

    <form action="/" method="post">
      Your name:<br>
      <input class="input" type="text" name="user_name"><br>
      Your phone:<br>
      <input class="input" type="text" name="phone"><br>
      Date and time:<br>
      <input class="input" type="text" name="date_time"><br>

      <input id="button" type="submit">

    </form>
  </body>
</html>
